<body *ngIf="paginaAnterior=='/tarefas'">
  <div id="tudoTodo">
    <!--quadrado com borda roxa-->
    <div id="divPai">
      <div id="scrollBar">
        <div id="inverte">
          <!--parte das colunas de cada categoria-->
          <div *ngFor="let categoria of categorias; index as indiceCat" (dragover)="defineCategoriaAbaixo(categoria)"
            class="categoria">
            <div class="colunas">
              <div class="colunas2" (dragover)="mudaBloqueio($event)"
                [ngStyle]="{'border': '1px solid ' + categoria.cor}" id="{{categoria.nome}}">
                <!--nome da categoria-->
                <div class="tituloDiv">
                  <h2>{{categoria.nome}}</h2>
                </div>
                <!--Parte das tarefas-->
                <div *ngFor="let tarefa of Tarefas; index as indice" (dragover)="defineTarefaAbaixo(tarefa, $event)">
                  <div *ngIf="testeTarefa(tarefa, categoria)" class="caixaTarefa" draggable="true"
                    (dragend)="mudarCatDrag(tarefa)" [style.boxShadow]="'1px 1px 10px 2px ' + categoria.cor">
                    <textarea [(ngModel)]="tarefa.titulo" class="textA" (input)="tamanhoTextArea(); muda()">
                        </textarea>
                    <textarea class="textA" (input)="tamanhoTextArea(); muda()" [(ngModel)]="tarefa.texto">
                        </textarea>
                    <!--opcoes inferiores de cada tarefa-->
                    <div class="opcoes">
                      <select [(ngModel)]="tarefa.categoria" (change)="muda()" class="trocaCat"
                        [style.border-color]="categoria.cor">
                        <option *ngFor="let categoria of categorias" [value]="categoria.nome">
                          {{categoria.nome}}
                        </option>
                      </select>
                      <button (click)="Del(indice)" class="del" [style.border-color]="categoria.cor">🗑️</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<!--Parte das categorias em si-->

<body id="tudo">
  <div class="categorias" *ngIf="paginaAnterior=='/categoria'">
    <div *ngFor="let cat of categorias; index as indice">
      <div *ngIf="testeCategoria(cat)" class="caixa" [style.border-color]="cat.cor" [style.color]="--cor-texto">
        <textarea [(ngModel)]="cat.nome" class="textA" (input)="tamanhoTextArea()" (click)="defineAntigaCategoria(cat)"
          (blur)=" mudaCat(indice)" [style.color]="--cor-texto"></textarea>
        <input type="color" [(ngModel)]="cat.cor" (blur)="mudaCor()" class="trocaCor">

        <button (click)="delCat(indice)" class="delCat" [style.border-color]="--cor-texto">🗑️</button>
      </div>
    </div>
  </div>
</body>

<div id="alerta" *ngIf="alerta1">
  <div id="alerta2" #alerta2>
    <button (click)="fechaAlerta()" class="cancelar">x</button>
    <h4>Você já tem uma categoria cadastrada com esse nome!</h4>
  </div>
</div>
<div id="alerta" *ngIf="alerta2">
  <div id="alerta2" #alerta2>
    <button (click)="fechaAlerta()" class="cancelar">x</button>
    <h4>Você não pode cadastrar uma categoria com nome em branco!</h4>
  </div>
</div>