<header>
  <div id="cabecalho">
    <div>
      <select [(ngModel)]="tema" (change)="mudaTema()" style="display: flex;">
        <option value="Black">Black</option>
        <option value="White">White</option>
      </select>
    </div>
    <h1 style="margin-top: 0; font-size: 2em;">Tarefas</h1>
    <div>
      <button routerLink="/tarefas">Tarefas</button>
      <button routerLink="/categoria">Categorias</button>
    </div>
  </div>
</header>
  <router-outlet (mudarTema)="mudaTema()"></router-outlet>