section {
    flex-direction: column;
    margin-top: 1vh;
    width: 19vw;
}
section,
header {
    display: flex;
    width: 100%;
    margin: 0;
    text-align: center;
    color: var(--cor-contraste);
}
#divHeader{
    display: flex; 
    align-items: center;
}

header {
    background-color: var(--cor-app);
    justify-content: space-between;
    height: 4vh;
    padding: 1em;
    width: 97.7vw;
}

#tema{
    display: flex; 
    border-color:var(--cor-contraste); 
    background-color: var(--cor-app); 
    color:var(--cor-contraste);
}


.emoji{
    margin:0 2vw 0 1vw;
}

#pagina, #divComponentes{
    display: flex; 
    justify-content:start ;
}
#divComponentes{
    margin-top:3vh; 
    width: 100%;
}

/*Botão de expansão do menu lateral*/
#menu {
    border-radius: 100%;
    font-size: 1.5em;
    border: none;
    color: var(--cor-contraste);
    padding: 0.4em 0.5em;
    cursor: pointer;
}

/*Referente ao padrão dos botões*/
button{
    background-color: rgba(0, 0, 0, 0);
}
button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

/*selects*/
select {
    appearance: none;
    padding: 0.5em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: var(--cor-texto);
    border-color: var(--cor-texto);
    margin-right: 0.4em;
    cursor: pointer;
}

/*Opcoes do select*/
select option {
    text-align: center;
    color: var(--cor-contraste);
    background-color: var(--cor-app);
}

h1 {
    margin: 0 1vw;
    font-size: 1.4em;
}

/*Tentativa do router link active*/
.ativo{
    border: 1px solid var(--cor-app);
    background-color: rgba(0, 0, 0, 0.05);
}

/* botões do menu de opções de paginas*/
section>button:hover {
    color: var(--cor-texto);
}

section>button {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color: var(--cor-app);
    border: none;
    padding: 1em;
    text-align: start;
    width: 18vw;
    border-radius: 0px 20px 20px 0px;
    height: 6vh;
    font-size: 0.9em;
}

