<header>
  <div style="display: flex; align-items: center;">
    <button id="menu" (click)="menu()">☰</button>
    <h1>Tarefas</h1>
  </div>
  <select [(ngModel)]="tema" (change)="mudaTema()"
    style="display: flex; border-color:white; background-color: var(--cor-app); color:white">
    <option value="Black">Black</option>
    <option value="White">White</option>
  </select>
</header>

<div style="display: flex; justify-content:start ;">
  <section *ngIf="secao">
    <button routerLinkActive="ativo" routerLink="/tarefas" class="rotas"> <span style="margin:0 2vw 0 1vw;;">📋</span>
      Tarefas</button>
    <button routerLinkActive="ativo" routerLink="/categoria" class="rotas"> <span
        style="margin:0 2vw 0 1vw;;">🏷️</span> Categorias</button>
  </section>
  <div style="margin-top:3vh; display: flex; justify-content: center;width: 100%;">
    <router-outlet (mudarTema)="mudaTema()"></router-outlet>
  </div>
</div>