/*Titulo de cada categoria*/
h2 {
    font-size: 1.3em;
    color: rgb(var(--cor-texto))
}

#menuPropriedade{
    font-size: 1em;
    font-weight: bold;
}

/*quadrado em volta das categorias e das tarefas*/
#divPai {
    min-height: 4.7vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid rgb(var(--cor-app));
    max-width: 100%;
    margin: 3vh 5.9vw;
    padding:4vh 3.01vw;
}

/*botao que mostra os imputs de cadastro*/
#botaoAdicionar {
    margin-left: 0.5em;
    font-size: 2em;
    color: rgb(var(--cor-texto));
    text-shadow: -0.01rem -0.1rem 0 #ffffff, 0.01rem -0.01rem 0 #ffffff, -0.01rem 0.01rem 0 #ffffff, 0.01rem 0.01rem 0 #ffffff;
}

/*estilização do quadrado da scrollbar*/
#scrollBar {
    overflow: auto;
    width: 100%;
    align-items: baseline;
    transform: rotateX(180deg);
    padding-bottom: 1vh;
}

/*estilização da scrollbar*/
#scrollBar::-webkit-scrollbar {
    width: 0.1vw;
    height: 1vh;
}

#scrollBar::-webkit-scrollbar-track {
    background-color: rgb(var(--cor-app));
    border-radius: 10px;
}

#scrollBar::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0);
}

#scrollBar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

#scrollBar::-webkit-scrollbar-thumb:hover {
    background-color: rgb(var(--cor-app))
}

/*input de titulo de tarefa*/
#titulo {
    width: 20vw;
    height: 5vh;
    border:1px solid  rgba(var(--cor-texto), 0.2);
    border-radius: 10px;
    color:var(--cor-texto)
}

/*estilização de textareas das tarefas*/
.textA {
    width: 17vw;
    resize: none;
    border: none;
    font-size: 0.8em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(var(--cor-texto));
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}

#alerta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    margin-top: 2vh;
    position: fixed;
    top: -2vh;
    bottom: -5vh;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    z-index: 999;
}

.cancelar {
    color: rgba(0, 0, 0, 0.7);
    border: none;
    position: absolute;
    right: 0.7vw;
    top: 1vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancelar:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

h4{
    color: red;
}

#opcoesMenuPropriedade{
    background-color: black;
    position: absolute;
    right:-5vw;
}

#selecao{
    display: flex;
    flex-direction: column;
}


/**revisar depois*/
#cadastroPropriedade{
    background-color: white;
    width: 25vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

/*parte interior do alerta*/
#alerta2 {
    background-color: rgb(var(--cor-fundo));
    height: 10vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    animation: popupAnimation 0.3s ease-in-out;
    position: relative;
}

/*botão de cadastrar*/
#enviar {
    width: 21.38vw;
    height: 5vh;
    background-color: rgb(var(--cor-app));
    color: white;
    border-radius: 30px;
    border:none;
    margin-top: 1vh;
    color:var(--cor-contraste)

}


.erro{
    color:red;
    font-size:0.75em;
}

/*select de categorias*/
#categoria {
    color: var(--cor-texto);
    width: 21.38vw;
    height: 5.51vh;
    border:1px solid rgba(var(--cor-texto), 0.2);
    border-radius: 10px;
    opacity: 0.8;
    appearance:initial;
    margin-top: 1vh;
}

/*div do titulo de cada categoria*/
.tituloDiv {
    display: flex;
    justify-content: center;
}

/*colunas de cada categoria*/
.categoria {
    flex: 1;
    display: flex;
    align-items: baseline;
    margin-right: 0.1vw;
    color: rgb(var(--cor-texto))
}

/*estilização global de inputs e textareas*/
input,
textarea {
    font-size: 1rem;
    background-color: rgb(var(--cor-fundo));
    color: rgb(var(--cor-texto));
    border: 1px solid;
    border-color: rgb(var(--cor-texto));
}

/*estilização global de inputs*/
input {
    padding-left: 1vw;
}

/*estilização global de select*/
select {
    appearance: none;
    padding: 0.5em;
    text-align: center;
    background-color: rgb(var(--cor-fundo));
    color: rgb(var(--cor-texto));
    border-color: rgb(var(--cor-texto));
    cursor: pointer;
}

/*estilização global de options*/
select option {
    text-align: center;
    color: rgb(var(--cor-texto));
}

/*div de cadastro que aparece e desaparece*/

/*inputs de cadastro*/
#cadastro>*>textarea, #cadastro>*>input, #cadastro>*>button {
    font-size: 1rem;
}

/*placeholder geral*/
::placeholder {
    color: rgb(var(--cor-texto));
}

/*corpo geral do componente tarefas*/
body {
    position: static;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width:100%;
}

/*divs em geral*/
div {
    display: flex;
    align-items: center;
}

/*parte das colunas de cada categoria*/
.colunas {
    width: 23vw;
    justify-content: center;
    margin-right: 1px;
    flex-grow: 1;
}

/*parte interna das colunas de cada categoria*/
.colunas2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23vw;
}

/*parte interior de cadastro*/
#cadastro2 {
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes popupAnimation {
    0% {
        transform: translate(0, 0) scale(0);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes popupAnimationSair {
    0% {
        transform: translate(0, 0) scale(1);
    }

    100% {
        transform: translate(0, 0) scale(0);
    }
}

.popup{
    position: fixed;
    top: -2vh;
    bottom: -5vh;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup2{
    background-color: rgb(var(--cor-fundo));
    border-radius: 10px;
    animation: popupAnimation 0.3s ease-in-out;
    position:relative;
}
#cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    justify-content: center;
    margin-top: 2vh;
}

#cancelarCadastro {
    color:rgba(0,0,0,0.7);
    border:none;
    position: absolute;
    right: 0.7vw;
    top: 1vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cancelarCadastro:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

/*parte que ajuda a inverter o scrolbar*/
#inverte {
    transform: rotateX(180deg);
    display: flex;
    align-items: baseline;
    height: 100%;
    width: 45vw;
}

/*div onde esta o botao de mostrar cadastro*/
#divBotaoCadastrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8vw;
    position: absolute;
    right: -2.5vw;
    top: 0;
    font-size: 1.2em;
}

/*caixa de cada tarefa*/
.caixaTarefa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    word-wrap: break-word;
    border: 0.01rem;
    margin: 0.5vh;
    margin-bottom: 2vh;
    color: rgb(var(--cor-texto))
}

/*select de trocar categoria de tarefa*/
.trocaCat {
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
    height: 5vh;
    color: rgb(var(--cor-texto))
}

/*options em geral*/
option {
    background-color: rgb(var(--cor-fundo));
}

/*select invalido, basicamente o place holder do select*/
select:invalid {
    color: rgb(var(--cor-app))
}

/*placeholder de inputs e textareas em geral*/
input::placeholder,
textarea::placeholder {
    color: rgb(var(--cor-texto));
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*botao de deletar tarefa*/
.del {
    border: 1px solid white;
    height: 3.7vh;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    height: 5vh;
}

.del:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/*botoes de mostrar cadastro ou nao*/
.cadastroBotao {
    font-size: 1.2em;
    border:none;
    border-radius: 5px 0 5px 10px;
    height: 5vh;
    width: 3vw;
    color: rgb(var(--cor-app));
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cadastroBotao:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/*hover geral dos botoes*/
button:hover {
    background-color: rgb(var(--cor-app));
    cursor: pointer;
}

/*input de descricao de cadastro de tarefa*/
#descricao {
    border:1px solid  rgba(var(--cor-texto), 0.2);
    padding: 1vh 1vw;
    text-align: left;
    resize: none;
    min-height: 20vh;
    max-height: 20vh;
    margin-top: 1vh;
    width: 19.2vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    opacity: 0.8;
    color:var(--cor-texto);
}

/*opcoes iferiores de cada caixa de tarefa*/
.opcoes {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*botoes em geral*/
button {
    background-color: rgb(var(--cor-fundo));
    color: rgb(var(--cor-texto));
    border: 1px solid;
    border-color: rgb(var(--cor-texto));
}

#titulo::placeholder{
    color:rgb(var(--cor-texto), 0.8)
}