<body>
  <div id="tudo">
    <!--Parte dos inputs de cadstro-->
    <div id="cadastro" *ngIf="cadastro">
      <div id="cadastro2">
        <input placeholder="Título" [(ngModel)]="tarefaCadastro.titulo" id="titulo">
        <select required [(ngModel)]="tarefaCadastro.categoria" id="categoria">
          <option value="" disabled selected>--Categoria--</option>
          <option *ngFor="let categoria of categorias" [value]="categoria.nome">
            {{categoria.nome}}
          </option>
        </select>
        <button (click)="CadastrarTarefa()" id="enviar">Cadastrar</button>
      </div>
      <textarea (input)="tamanhoTextArea()" placeholder="Descrição" [(ngModel)]="tarefaCadastro.texto"
        id="descricao"></textarea>
    </div>
    <!--quadrado com borda roxa-->
    <div id="divPai">
      <div id="scrollBar">
        <div id="inverte">
          <!--parte das colunas de cada categoria-->
          <div *ngFor="let categoria of categorias; index as indiceCat" (dragover)="defineCategoriaAbaixo(categoria)"
            class="categoria">
            <div class="colunas">
              <div class="colunas2" (dragover)="mudaBloqueio($event)"
                [ngStyle]="{'border': '1px solid ' + categoria.cor}" id="{{categoria.nome}}">
                <!--nome da categoria-->
                <div class="tituloDiv">
                  <h2>{{categoria.nome}}</h2>
                </div>
                <!--Parte das tarefas-->
                <div *ngFor="let tarefa of Tarefas; index as indice" (dragover)="defineTarefaAbaixo(tarefa, $event)">
                  <div *ngIf="tarefa.categoria == categoria.nome" class="caixaTarefa" draggable="true"
                    (dragend)="mudarCatDrag(tarefa)" [style.boxShadow]="'1px 1px 10px 2px ' + categoria.cor">
                    <textarea [(ngModel)]="tarefa.titulo" class="textA" (input)="tamanhoTextArea(); muda()">
                    </textarea>
                    <textarea class="textA" (input)="tamanhoTextArea(); muda()" [(ngModel)]="tarefa.texto">
                    </textarea>
                    <!--opcoes inferiores de cada tarefa-->
                    <div class="opcoes">
                      <select [(ngModel)]="tarefa.categoria" (change)="muda()" class="trocaCat"
                        [style.border-color]="categoria.cor">
                        <option *ngFor="let categoria of categorias" [value]="categoria.nome">
                          {{categoria.nome}}
                        </option>
                      </select>
                      <button (click)="Del(indice)" class="del" [style.border-color]="categoria.cor">🗑️</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--botão de adicionar tarefa-->
      <div id="divBotaoCadastrar">
        <button *ngIf="!cadastro" (click)="cadastrar()" class="cadastroBotao">+</button>
        <button *ngIf="cadastro" (click)="cadastrar()" class="cadastroBotao">-</button>
      </div>
    </div>
  </div>
</body>

{{tamanhoTextArea()}}