h2 {
    font-size: 1.3em;
}

#divPai {
    border: 0.1em solid var(--cor-app);
    margin-top: 5vh;
    padding: 1vh 5vw 5vh 5vw;
    padding-top: 4vh;
    margin: 3vh 5vw
}

#botaoAdicionar {
    margin-left: 0.5em;
    font-size: 2em;
    color: var(--cor-texto);
    text-shadow: -0.01rem -0.1rem 0 #ffffff, 0.01rem -0.01rem 0 #ffffff, -0.01rem 0.01rem 0 #ffffff, 0.01rem 0.01rem 0 #ffffff;
}

#scrollBar {
    overflow: auto;
    width: 60vw;
    align-items: baseline;
    transform: rotateX(180deg);
    padding-bottom: 1vh;
}

#scrollBar::-webkit-scrollbar {
    width: 0.1vw;
    height: 1vh;
}

#scrollBar::-webkit-scrollbar-track {
    background-color: var(--cor-app);
    border-radius: 10px;
}

#scrollBar::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0);
}

#scrollBar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

#scrollBar::-webkit-scrollbar-thumb:hover {
    background-color: var(--cor-app)
}


#novaCat {
    width: 7.8vw;
    color: var(--cor-texto);
    border-color: var(--cor-texto);
    padding: 0 1vw 0 1vw;
    font-size: 0.8em;

}

#titulo {
    width: 19vw;
    height: 5vh;

}

.textA {
    width: 17vw;
    resize: none;
    border: none;
    font-size: 0.8em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#enviar {
    width: 8vw;
    height: 5.51vh;
    color:var(--cor-app)
}

#categoria {
    width: 8vw;
    height: 5.51vh;
}

input,
textarea {
    font-size: 1rem;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    border: 1px solid;
    border-color: var(--cor-texto);
}
input{
    padding-left: 1vw;
}
select {
    appearance: none;
    padding: 0.5em;
    text-align: center;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    border-color: var(--cor-texto);
    cursor: pointer;
}

select option {
    text-align: center;
    color: var(--cor-texto);
}

#pesquisa {
    border-color: var(--cor-app);
    width: 30vw;
    height: 4.5vh;
    border-radius: 50px;
}

#cadastro {
    display: block;
    justify-content: center;
    margin-top: 2vh;
}

#cadastro>*>* {
    font-size: 1rem;
}

::placeholder {
    color: var(--cor-texto);
}

body {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

div {
    display: flex;
    align-items: center;
}


.colunas {
    width: 23vw;
    justify-content: center;
    margin-right: 1px;
    flex-grow: 1;
}

.colunas2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23vw;
}

#pesquisaECadstro{
    display: flex; 
    align-items: center; 
    justify-content: center;
}

#tudo{
    display:block;
     text-align:center;
}

.caixaTarefa {
    display: block;
    width: 20vw;
    word-wrap: break-word;
    border: 0.01rem ;
    margin: 0.5vh;
    margin-bottom: 2vh;
}

.trocaCat {
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
    height: 5vh;
}

select:invalid {
    color: var(--cor-app)
}

input::placeholder,
textarea::placeholder {
    color: var(--cor-app);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.trocaCatB {
    border: 1px solid white;
    height: 3.7vh;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    height: 5vh;
}

.trocaCatB:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.cadastroBotao {
    font-size: 2em;
    border: 1px solid var(--cor-texto);
    color: var(--cor-texto);
    border-radius: 100%;
    height: 5vh;
    width: 3vw;
    border-color: var(--cor-app);
    color: var(--cor-app);
    ;
}

.cadastroBotao:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: var(--cor-app);
    cursor: pointer;
}

#descricao {
    text-align: left;
    resize: none;
    height: auto;

    width: 35vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.opcoes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao:hover {
    background-color: var(--cor-fundo);
}

button {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    border: 1px solid;
    border-color: var(--cor-texto);
}